* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins";
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  background-color: #141c3a;
}

::-webkit-scrollbar {
  width: 8px;
  border-left: 1px solid #e6ecf8;
}
